<div class="container wrapper">
  <h1>Reviews for "{{editBelt.title}}"</h1>
  <a (click)="delete()" class="btn btn-danger">Delete</a>
  <table class='table'>
      <thead>
          <tr>
              <th scope='col'>Reviewer</th>
              <th scope='col'>Stars</th>
              <th scope='col'>Reviews</th>
              <th scope='col'>Remove Review</th>
              <!-- <th scope='col'>Average Stars</th>
              <th scope='col'>RouterLink</th>
              <th scope='col'>Nested Comp</th> -->
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let belt of editBelt['reviewing']">
              <td>{{belt.name}} </td>
              <td>{{belt.star}}</td>
              <td>{{belt.review}}</td>
              <td>  <button (click)="deleteReview(belt)" class="btn btn-danger">Delete</button></td>
              <!-- <td><a class='btn btn-info' [routerLink]="['/movies', belt._id]">Read Review</a><a class='btn btn-danger' (click)=delete(belt)>Delete</a></td> -->
              <!-- <td><a class='btn btn-info' [routerLink]="['/editchild', belt._id]">Edit Child (routerLink)</a><a class='btn btn-danger' (click)=delete(belt)>Delete</a></td> -->
              <!-- <td><a class='btn btn-info' (click)="selectThisBelt(belt)">Edit Child (see below)</a><a class='btn btn-danger' (click)=delete(belt)>Delete</a></td> -->
          </tr>
      </tbody>
  </table>

  <a [routerLink]="['/movies']" class="btn btn-primary">Back to movies</a>
</div>


<!-- Edit codes -->
        <!-- <form (submit)="onSubmit()"> -->
            <!-- <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="title" required minlength="3" maxlength="24" class="form-control" name="title" [value]='editBelt.title' [(ngModel)]="editBelt.title" #editTitle="ngModel">
                <p class='error' *ngIf="editTitle.invalid && (editTitle.dirty || editTitle.touched)">Title not complete</p>
                <p class='error' *ngIf="error['title']">{{error['title']['message']}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <input type="text" required minlength="3" maxlength="50" class="form-control" name="description" [value]="editBelt.description" [(ngModel)]="editBelt.description" #editDesc="ngModel">
                <p class='error' *ngIf="editDesc.invalid && (editDesc.dirty || editDesc.touched)">Description not complete</p>
                <p class='error' *ngIf="error['description']">{{error['description']['message']}}</p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button *ngIf="editTitle.valid && editDesc.valid" type="submit" class="btn btn-primary">Edit!</button>
                <p *ngIf="success">{{success}}</p>
                <p *ngIf="del_error">{{del_error}}</p>
                <p>{{editProduct.title | json}} {{editProduct.price | json}}</p>
              </div>
            </div> -->
          <!-- </form> -->
